In [1]:
# 5.3_replace_nan.py
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic', engine='python')
print(df.shape, '\n')
print(df.columns, '\n')

(891, 15)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [2]:
# embarked_town 열의 829행의 NaN 데이터 출력
print(df['embark_town'][825:830], '\n')

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829            NaN
Name: embark_town, dtype: object