In [1]:
# 5.3_replace_nan.py
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic', engine='python')

In [2]:
mean_age = df['age'].mean(axis=0)
mean_age

29.69911764705882

In [3]:
# age 열의 NaN값을 다른 나이 데이터의 평균으로 변경하기
mean_age = df['age'].mean(axis=0)
df['age'].fillna(mean_age, inplace=True)

# age 열의 첫 10개 데이터 출력 (5행에 NaN 값이 평균으로 대체)
print(df['age'].head(10))

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: age, dtype: float64