In [1]:
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic', engine='python')

missing_df = df.isnull()

In [3]:
# age 열에 나이 데이터가 없는 모든 행을 삭제 - age 열(891개 중 177개의 NaN 값)
df_age = df.dropna(subset=['age'], how='any', axis=0)

print(len(df_age), '\n')

714

In [4]:
# age 열에 나이 데이터가 없는 모든 행을 삭제 - age 열(891개 중 177개의 NaN 값)
df_age = df.dropna(subset=['age'], how='any', axis=0)
df_deck = df.dropna(subset=['deck'], how='any', axis=0)
df_any = df.dropna(subset=['age','deck'], how='any', axis=0)
df_all = df.dropna(subset=['age','deck'], how='all', axis=0)

print(len(df_age), '\n', len(df_deck), '\n', len(df_any), '\n', len(df_all), '\n')

714
 203
 184
 733