In [7]:
# 5.1_isnull_notnull.py
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic', engine='python')

In [10]:
# 구조(행 열 확인)
print(df.shape)

(891, 15)

In [15]:
# 컬럼 확인
print(df.columns)

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')

In [16]:
# 첫 5줄 확인
print(df.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [33]:
# deck 열의 NaN 개수 계산하기
nan_deck = df['deck'].value_counts(dropna=False)
print(nan_deck, '\n')

NaN    688
C       59
B       47
D       33
E       32
A       15
F       13
G        4
Name: deck, dtype: int64

In [45]:
# deck 열의 NaN 개수 계산하기
nan_deck1 = df['deck'].value_counts(dropna=False).sum()
nan_deck2 = df['deck'].value_counts()
print(nan_deck1, '\n')
print(nan_deck2, '\n')
print(sum(nan_deck2), '\n')

891

C    59
B    47
D    33
E    32
A    15
F    13
G     4
Name: deck, dtype: int64

203