In [1]:
# 5.3_replace_nan.py
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic', engine='python')
print(df.shape)

(891, 15)

In [2]:
# age 열의 첫 10개 데이터 출력 (5 행에 NaN 값)
print(df['age'].head(10))

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: age, dtype: float64