In [1]:
# 5.3_replace_nan.py
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 가져오기
df = sns.load_dataset('titanic', engine='python')

In [2]:
# embark_town 열의 NaN값을 승선도시 중에서 가장 많이 출현한 값으로 치환하기
print(df['embark_town'].value_counts(dropna=False), '\n')

print(df['embark_town'].value_counts(dropna=True).idxmax())

Southampton    644
Cherbourg      168
Queenstown      77
NaN              2
Name: embark_town, dtype: int64

Southampton