In [1]:
# 라이브러리 불러오기
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('../dataset/mpg/auto-mpg.csv', header=None)
print(df.shape,'\n')
print(df.head(3), '\n')

# 열이름을 지정
df.columns = ['mpg', 'cylinders', 'displacement', 'horsepower',
             'weight', 'acceleration', 'model_year', 'origin', 'name']
df.head(3)

(398, 9)

      0  1      2      3       4     5   6  7                          8
0  18.0  8  307.0  130.0  3504.0  12.0  70  1  chevrolet chevelle malibu
1  15.0  8  350.0  165.0  3693.0  11.5  70  1          buick skylark 320
2  18.0  8  318.0  150.0  3436.0  11.0  70  1         plymouth satellite

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504.0,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693.0,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150.0,3436.0,11.0,70,1,plymouth satellite

In [3]:
# 누락 데이터('?') 삭제
import numpy as np
print(df['horsepower'].isnull().unique(), '\n')

[False]

In [4]:
idx = -1
print(df.iloc[32, :5])

mpg               25
cylinders          4
displacement      98
horsepower         ?
weight          2046
Name: 32, dtype: object

In [5]:
for dfChk in df['horsepower']:
    idx += 1
    if (dfChk == '?'):
        print(df[idx:(idx+1)])

     mpg  cylinders  displacement horsepower  weight  acceleration  \
32  25.0          4          98.0          ?  2046.0          19.0

    model_year  origin        name
32          71       1  ford pinto
      mpg  cylinders  displacement horsepower  weight  acceleration  \
126  21.0          6         200.0          ?  2875.0          17.0

     model_year  origin           name
126          74       1  ford maverick
      mpg  cylinders  displacement horsepower  weight  acceleration  \
330  40.9          4          85.0          ?  1835.0          17.3

     model_year  origin                  name
330          80       2  renault lecar deluxe
      mpg  cylinders  displacement horsepower  weight  acceleration  \
336  23.6          4         140.0          ?  2905.0          14.3

     model_year  origin                name
336          80       1  ford mustang cobra
      mpg  cylinders  displacement horsepower  weight  acceleration  \
354  34.5          4         100.0          ?  2320.0          15.8

     model_year  origin         name
354          81       2  renault 18i
      mpg  cylinders  displacement horsepower  weight  acceleration  \
374  23.0          4         151.0          ?  3035.0          20.5

     model_year  origin            name
374          82       1  amc concord dl

In [6]:
print((df['horsepower']=='?').sum(), '\n')

6

In [7]:
df['horsepower'].isnull().sum()

0

In [8]:
df['horsepower'].replace('?', np.nan, inplace=True) # '?'을 np.nan으로 변경
print(df['horsepower'].isnull().unique(),'\n')

[False  True]

In [9]:
df['horsepower'].isnull().sum()

6

In [10]:
df.dropna(subset=['horsepower'], axis=0, inplace=True)
print(df['horsepower'].unique(), '\n')

['130.0' '165.0' '150.0' '140.0' '198.0' '220.0' '215.0' '225.0' '190.0'
 '170.0' '160.0' '95.00' '97.00' '85.00' '88.00' '46.00' '87.00' '90.00'
 '113.0' '200.0' '210.0' '193.0' '100.0' '105.0' '175.0' '153.0' '180.0'
 '110.0' '72.00' '86.00' '70.00' '76.00' '65.00' '69.00' '60.00' '80.00'
 '54.00' '208.0' '155.0' '112.0' '92.00' '145.0' '137.0' '158.0' '167.0'
 '94.00' '107.0' '230.0' '49.00' '75.00' '91.00' '122.0' '67.00' '83.00'
 '78.00' '52.00' '61.00' '93.00' '148.0' '129.0' '96.00' '71.00' '98.00'
 '115.0' '53.00' '81.00' '79.00' '120.0' '152.0' '102.0' '108.0' '68.00'
 '58.00' '149.0' '89.00' '63.00' '48.00' '66.00' '139.0' '103.0' '125.0'
 '133.0' '138.0' '135.0' '142.0' '77.00' '62.00' '132.0' '84.00' '64.00'
 '74.00' '116.0' '82.00']

In [11]:
# .astype('category') 범주형 데이터로 변경
df['horsepower'] = df['horsepower'].astype('float')
print(df['horsepower'].unique(), '\n')

[130. 165. 150. 140. 198. 220. 215. 225. 190. 170. 160.  95.  97.  85.
  88.  46.  87.  90. 113. 200. 210. 193. 100. 105. 175. 153. 180. 110.
  72.  86.  70.  76.  65.  69.  60.  80.  54. 208. 155. 112.  92. 145.
 137. 158. 167.  94. 107. 230.  49.  75.  91. 122.  67.  83.  78.  52.
  61.  93. 148. 129.  96.  71.  98. 115.  53.  81.  79. 120. 152. 102.
 108.  68.  58. 149.  89.  63.  48.  66. 139. 103. 125. 133. 138. 135.
 142.  77.  62. 132.  84.  64.  74. 116.  82.]