In [2]:
import pandas as pd
import sys
input_file = '../work03/dataset/csv_exam.csv'
output_file = '../work03/dataset/output5.csv'

# csv 파일을 읽어서 데이터 프레임으로 저장
df = pd.read_csv(input_file)

print(df)
# print(df['english'])
# 데이터 프레임에서 enlgish 필드(실수값)를 스트링으로 바꾼 후 $ 문자 제거
# 다시 float로 변환하여 저장
df['english'] = df['english'].str.strip('$').astype(float)
print(df['english'])

# class 필드에 1반이 포함되거나 english가 80보다 큰 데이터만
# 선택하여 새로운 데이터프레임에 저장
# loc[행 필터링 조건 : 열 필터링 조건]
print(df.loc[(df['class'] == 1) | (df['english'] > 80), :])
result = df.loc[(df['class'] == 1) | (df['english'] > 80), :]

# csv에 결과 저장
# index를 내보내고 싶지 않은 경우 index=False
result.to_csv(output_file, index=False)

    id  class  math english  science
0    1      1    50      98       50
1    2      1    60     $97       60
2    3      1    45      86       78
3    4      1    30      98       58
4    5      2    25      80       65
5    6      2    50      89       98
6    7      2    80      90       45
7    8      2    90      78       25
8    9      3    20      98       15
9   10      3    50      98       45
10  11      3    65      65       65
11  12      3    45      85       32
12  13      4    46      98       65
13  14      4    48      87       12
14  15      4    75      56       78
15  16      4    58      98       65
16  17      5    65      68       98
17  18      5    80      78       90
18  19      5    89      68       87
19  20      5    78      83       58
0     98.0
1     97.0
2     86.0
3     98.0
4     80.0
5     89.0
6     90.0
7     78.0
8     98.0
9     98.0
10    65.0
11    85.0
12    98.0
13    87.0
14    56.0
15    98.0
16    68.0
17    78.0
18    68.0
19    83.0
Name: english, dtype: float64
    id  class  math  english  science
0    1      1    50     98.0       50
1    2      1    60     97.0       60
2    3      1    45     86.0       78
3    4      1    30     98.0       58
5    6      2    50     89.0       98
6    7      2    80     90.0       45
8    9      3    20     98.0       15
9   10      3    50     98.0       45
11  12      3    45     85.0       32
12  13      4    46     98.0       65
13  14      4    48     87.0       12
15  16      4    58     98.0       65
19  20      5    78     83.0       58