In [3]:
# 6.3_df_apply_isnull
# 라이브러리 불러오기
import seaborn as sns


# titanic 데이터셋에서 age, fare 2개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic', engine='python')
df = titanic.loc[:, ['age', 'fare']]
print(df.head(), '\n')
print(df.describe(), '\n')

# 사용자 함수 정의
def min_max(x): # 최대값 - 최소값
    return x.max() - x.min()

# 데이터프레임의 각 열을 인수로 전달하면 시리즈를 반환
result = df.apply(min_max) # 기본값 axis=0
print(result, '\n')
print(type(result))

    age     fare
0  22.0   7.2500
1  38.0  71.2833
2  26.0   7.9250
3  35.0  53.1000
4  35.0   8.0500

              age        fare
count  714.000000  891.000000
mean    29.699118   32.204208
std     14.526497   49.693429
min      0.420000    0.000000
25%     20.125000    7.910400
50%     28.000000   14.454200
75%     38.000000   31.000000
max     80.000000  512.329200

age      79.5800
fare    512.3292
dtype: float64

<class 'pandas.core.series.Series'>