In [16]:
# 라이브러리 불러오기
import pandas as pd

# 파일 경로를 찾고, 변수 file_path에 저장
file_path = '../../../dataset/read_csv_sample.csv'

# read_csv() 함수로 데이터프레임 변환. 변수 df1에 저장
df1 = pd.read_csv(file_path, engine="python")
print(df1, '\n')

# read_csv() 함수로 데이터프레임 변환. 변수 df2에 저장. header=None 옵션
df2 = pd.read_csv(file_path, header=None, engine="python")
df2

   癤풻0  c1  c2  c3
0    0   1   4   7
1    1   2   5   8
2    2   3   6   9

     0   1   2   3
0  癤풻0  c1  c2  c3
1    0   1   4   7
2    1   2   5   8
3    2   3   6   9