In [1]:
# zip 함수
name = ['a', 'b']
value = [1, 2]

for n, v in zip(name, value)

SyntaxError: invalid syntax (<ipython-input-1-c87e3aac24ad>, line 5)

In [2]:
pwd # present working directory (현재 작업폴더 위치)

'C:\\Python36\\YWD\\Jupyter_WS\\part7'

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
    {
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    })

In [4]:
df.groupby('A').sum()

            C         D
A
bar -0.456344  1.256916
foo  0.077997  4.626489

In [5]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one   -0.896055  1.067302
    three  0.466702  0.833616
    two   -0.026991 -0.644002
foo one    0.143230  0.199965
    three  2.157503  0.253099
    two   -2.222736  4.173425